<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Forms</title>
</head>
<body class="bg-gray-200 p-8">
    <form action="" method="post" enctype="multipart/form-data" class="max-w-sm mx-auto bg-white p-6 rounded shadow">
        <div class="mb-4">
            <label for="fileName" class="block text-gray-700 font-bold mb-2">Select File:</label>
            <input type="file" name="fileName" id="fileName" class="border rounded p-2 w-full">
        </div>
        <div>
            <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
        </div>
    </form>

    <div class="max-w-sm mx-auto mt-8">
        <% fileLinks.forEach((file) => { %>
            <a href="/upload/<%= file.filename %>" class="block text-blue-500 hover:underline"><%= file.filename %></a>
            <br>
        <% }) %>
    </div>
</body>
</html>
